<html>
    <head>
        <title>Blog App</title>

        <base href="/">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

        <base href="/">
        <link rel="stylesheet" href="bootstrap.css">
        
        <base href="/">
        <link rel="stylesheet" href="app.css">


    </head>
    <body>

            <div class="ui fixed inverted menu">
                <div class="ui container">
                    <div class="header item"><i class="code icon"></i>Blog Site</div>
                    <a href="/" class="item">Home</a>
                    <a href="/blogs/new" class="item">New Post</a>
                </div>

            </div>            

            <div class="ui main text container segment">

                <% blogs.forEach(function(blog){%>

                    <div>
                        <h2><%=blog.title%></h2>
                        <img class="img-thumbnail" src="<%=blog.image%>" alt="" width="500" height="300">

                   
                        <p style="margin-top: 1.5em;"><%=blog.Created.toDateString()%></p>
                        <p><%=blog.body.substring(0,200)%>...</p>

                        <a href="/blogs/<%=blog._id%>" class="btn btn-lg btn-info">More Info</a>

                        <hr>
                    </div>

                <%})%>

            </div>
         
            

    </body>
</html>


